.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  nav {
    .links {
      width: 100%;
      display: flex;
      padding: 0 15%;
      list-style: none;
      align-items: center;
      border-bottom: 1px solid #000;
      :first-child {
        a {
          border-left: 1px solid #000;
        }
      }
      :last-child {
        display: flex;
        border-right: 1px solid #000;
        a {
          width: 50%;
          padding: 25px 0;
          margin: 0;
          border: none;
          svg {
            border: none;
            font-size: 28px;
            overflow: hidden;
          }
        }
      }
      li {
        width: 20%;
        a {
          border-right: 1px solid #000;
          padding: 30px 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: #000;
            transition: all 0.5s;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    nav {
      .links {
        padding: 0;
        li {
          a {
            padding: 30px 0;
          }
        }
      }
    }
  }
}
