.container {
  article {
    width: 75%;
    margin: 50px auto;
    p {
      margin: 20px 0;
      a {
        text-decoration: underline;
        text-decoration-color: #00ffff;
        font-weight: 700;
        :hover {
          text-decoration-color: #000;
        }
      }
    }
  }
  .ads {
    width: 100%;
    height: 300px;
  }
  .header {
    width: 90%;
    height: 300px;
    padding: 10px 40px;
    margin: 5px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    .bgimg {
      z-index: -1;
    }
    color: #fff;
    position: relative;
    .topleft {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .back {
        svg {
          width: 30px;
        }
      }
      .date {
        // width: 50%;
        p {
          color: #bbbbbb;
        }
        h4 {
          font-size: 2.5rem;
          width: 70%;
          margin-bottom: 15px;
        }
      }
      .author {
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;

        .bio {
          width: 90%;
        }
        p {
          // font-weight: 00;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: #bbb;
        }
        .img {
          position: relative;
          width: 40px;
          background-color: #1e65ff;
          border-radius: 50%;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 3px;
        }
      }
    }
    .desc {
      margin-top: 35px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    article {
      width: 95%;
    }
    .header {
      width: 100%;
      padding: 10px;
      height: 400px;
      margin: 0;
      .topleft {
        flex-direction: column;
        align-items: flex-start;
        .date {
          h4 {
            font-size: 1.7rem;
            width: 100%;
            margin-bottom: 10px;
          }
        }
        .author {
          margin-top: 25px;
          width: 100%;
          .bio {
            width: 90%;
          }
        }
        .desc {
          margin-top: 30px;
        }
      }
    }
  }
}
