.container {
  margin: 130px 0 50px;
  padding-bottom: 60px;
  border-bottom: 1px solid #000;
  .heading {
    margin: 4rem 0 0 6rem;
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .container {
    .heading {
      margin: 4rem 0 0 1rem;
    }
  }
}
