.main {
  .progress {
    background-color: #000;
    position: fixed;
    top: 78px;
    height: 6px;
    z-index: 99999999999;
    left: 0;
    border: 0.2px solid #fff;
  }
  .ads {
    width: 15%;
    padding: 20px 10px;
  }
  display: flex;
  border-bottom: 1px solid #000;
}
.container {
  margin: 130px 0 50px;
  padding-bottom: 80px;
  width: 70%;
  .blog {
    width: 100%;
    margin: 0;
    border: 1px solid #000;
    padding: 60px;
    .date {
      font-size: 15px;
      opacity: 0.9;
    }
    h1 {
      font-size: 2.5rem;
      margin: 15px 0;
    }
    img {
      width: auto;
      max-width: 100%;
      margin: 26px auto;
      height: auto;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      &:hover::before {
        opacity: 1;
      }
    }
    article {
      width: 100%;
      img {
        margin: 50px auto;
      }
      p {
        margin: 20px 0;
        font-size: 20px;
        line-height: 1.7;
        a {
          color: #5151ff;
          font-weight: 700;
          :hover {
            text-decoration-color: #000;
          }
        }
      }
    }
  }
  .imagebox {
    position: relative;
  }

  .imagebox img {
    display: block;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }

  .imagebox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .imagebox:hover::before {
    opacity: 1;
  }

  .relatedposts {
    width: 100%;
    margin: 40px auto;
    h1 {
      margin: 20px 0;
    }
    .postscontainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .main {
    .progress {
      height: 8px;
    }
    .ads {
      display: none;
    }
  }
  .container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    .blog {
      margin: 0 auto;
      border: 1px solid #000;
      padding: 60px 8px;
      h1 {
        font-size: 1.9rem;
      }
      img {
        height: auto;
        margin: 15px 0;
      }
      article {
        p {
          font-size: 16px;
          line-height: 1.4;
          a {
            color: #5151ff;
            font-weight: 700;
            :hover {
              text-decoration-color: #000;
            }
          }
        }
      }
    }
    .relatedposts {
      width: 100%;
      .postscontainer {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 320px) {
  .container {
    .routes {
      width: 98%;
      margin: 30px auto 0;
    }
    .nav {
      .navcontainer {
        h1 {
          font-size: 1.2rem;
        }
        .contact {
          font-family: sans-serif;
          h4 {
            svg {
              width: 20px;
              margin: 0;
            }
          }
        }
      }
    }
    .header {
      .herotext {
        padding-top: 90px;
        h1 {
          font-size: 1.3rem;
          margin-bottom: 10px;
        }
        .date {
          margin-top: 10px;
        }
      }
    }
  }
}
