.container {
  .BlogList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 65%;
    margin: 20px auto;
  }
  hr {
    width: 90%;
    margin: 0 auto 20px;
  }
}

@media (max-width: 600px) {
  .container {
    .BlogList {
      width: 100%;
      padding: 0 10px;
      flex-direction: column;
      align-items: center;
    }
    hr {
      width: 100%;
    }
  }
}
